@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Macondo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'macondo', sans-serif;
  list-style: none;
}

body {
  background-image: url('https://c0.wallpaperflare.com/preview/197/19/651/checklist-check-list-marker.jpg');
  padding-top: 4rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}

.entrada {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entrada input {
  font-size: 1rem;
  padding: 5px;
  margin: 10px 5px 10px 0px;
  border-radius: 4px;
  border: 1px solid rgb(138, 105, 255);
}

.entrada input:focus {
  border: 1px solid rgb(3, 158, 255) !important;
  outline: none !important;
}

.entrada button {
  width: 100px;
  height: 38px;
  margin: 10px 0px 10px 5px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  background-color: rgb(230, 227, 255);
  border: 3px solid rgb(138, 105, 255);
  color: rgb(105, 115, 255);
  cursor: pointer;
}
.entrada button:hover {
  background-color: rgb(38, 52, 255);
  border: 1px solid rgb(105, 197, 255);
  color: rgb(255, 255, 255);
}

#saida {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(145, 105, 255);
  border-radius: 7px;
  width: 324px;
  min-height: 50px;
}

.list-item {
  width: 310px;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  padding: 5px 5px;
  border-radius: 5px;
}
.list-item:nth-child(odd) {
  background: #f0f0f0;
}

.list-item input {
  cursor: pointer;
}
.list-item span {
  width: 250px;
}
:checked + label {
  color: rgb(158, 158, 158);
  text-decoration: line-through;
}

.list-item .close {
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  background-color: rgb(248, 201, 242);
  border: 1px solid rgb(248, 47, 231);
  color: rgb(231, 47, 248);
  cursor: pointer;
}

.list-item .close:hover {
  background-color: rgb(248, 47, 47);
  border: 1px solid rgb(248, 201, 201);
  color: #fff;
}

@media (max-width: 480px) {
  .container h1 {
    font-size: 3rem;
  }

  .entrada {
    width: 300px;
  }
  .entrada input {
    width: 190px;
  }
  .entrada input::placeholder {
    font-size: 12px;
  }
  #saida {
    width: 300px;
  }

  .list-item {
    width: 280px;
  }
}

@media (max-width: 380px) {
  .container h1 {
    font-size: 2.8rem;
  }

  .entrada {
    width: 250px;
  }
  .entrada input {
    width: 150px;
  }
  .entrada input::placeholder {
    font-size: 12px;
  }
  #saida {
    width: 250px;
  }

  .list-item {
    width: 240px;
  }
}
